<br>
<table class="table table-striped">
  <thead>
    <tr>
      <td colspan="2"></th>
      <td align="center">น้ำมันเครื่อง</td>
      <td align="center">น้ำมันเกียร์</td>
      <td align="center">เฟืองท้าย</td>
      <td align="center">กรองอากาศ</td>
      <td align="center">น้ำยาหม้อน้ำ</td>
      <td align="center">น้ำยาปั้มลม</td>
      <td colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @trucks.each do |truck| %>
      <tr>
        <td class="table-bordered" align="center"><%= truck.plate %></td>
        <td class="table-bordered center-text"><%= link_to 'เพิ่มเที่ยว', new_truck_trip_path(truck) %></td>
        <!-- engine-oil -->
        <td align="center">
            <svg height="23" width="23">
              <circle id="'<%= truck.plate %>'engine" cx="11.5" cy="11.5" r="11.5" />
            </svg>
        </td>

        <!-- transmission-oil -->
        <td align="center"><svg height="23" width="23">
              <circle id="'<%= truck.plate %>'transmission" cx="11.5" cy="11.5" r="11.5"/>
            </svg>
        </td align="center">

        <!-- gear-oil -->
        <td align="center"><svg height="23" width="23">
              <circle id="'<%= truck.plate %>'gear" cx="11.5" cy="11.5" r="11.5"/>
            </svg>
        </td>

        <!-- air-filter -->
        <td align="center"><svg height="23" width="23">
              <circle id="'<%= truck.plate %>'air" cx="11.5" cy="11.5" r="11.5"/>
            </svg>
        </td>

        <!-- air-filter -->
        <td align="center"><svg height="23" width="23">
              <circle id="'<%= truck.plate %>'coolant" cx="11.5" cy="11.5" r="11.5"/>
            </svg>
        </td>

        <!-- air-filter -->
        <td align="center"><svg height="23" width="23">
              <circle id="'<%= truck.plate %>'blower" cx="11.5" cy="11.5" r="11.5"/>
            </svg>
        </td>

        <td class="table-bordered center-text"><%= link_to 'ดูข้อมูล', truck %></td>
        <td class="table-bordered center-text"><%= button_to 'ลบ' , truck, method: :delete, data: { confirm: 'Are you sure?' }, id: "delete-button", class: "btn btn-danger" %> </td>


        <script>
            //this is for engine oil
              if (<%= truck.total_engine_distance%> > <%= @maintenance_red.engine_alert.to_i %>) {

                document.getElementById("'<%= truck.plate %>'engine").style.fill = "red";
              }
              else if (<%= truck.total_engine_distance%> > <%= @maintenance_orange.engine_alert.to_i %>) {
                document.getElementById("'<%= truck.plate %>'engine").style.fill = "	#ff8500";
              }
              else if ((( <%= truck.total_engine_distance %> / <%= @maintenance_red.engine_alert.to_i %> ) * 100) < 10) {
                document.getElementById("'<%= truck.plate %>'engine").style.fill = "#00ff00";
              }
              else {
                document.getElementById("'<%= truck.plate %>'engine").style.fill = "#00bd00";
              }

            //this is for transmission oil
              if (<%= truck.total_transmission_distance%> > <%= @maintenance_red.transmission_alert.to_i %>) {
                document.getElementById("'<%= truck.plate %>'transmission").style.fill = "red";
              }
              else if (<%= truck.total_transmission_distance%> > <%= @maintenance_orange.transmission_alert.to_i %>) {
                document.getElementById("'<%= truck.plate %>'transmission").style.fill = "	#ff8500";
              }
              else if ((( <%= truck.total_transmission_distance %> / <%= @maintenance_red.transmission_alert.to_i %> ) * 100) < 10) {
                document.getElementById("'<%= truck.plate %>'transmission").style.fill = "#00ff00";
              }
              else {
                document.getElementById("'<%= truck.plate %>'transmission").style.fill = "#00bd00";
              }

            //this is for gear oil
              if (<%= truck.total_gear_distance%> > <%= @maintenance_red.gear_alert.to_i %>) {
                document.getElementById("'<%= truck.plate %>'gear").style.fill = "red";
              }
              else if (<%= truck.total_gear_distance%> > <%= @maintenance_orange.gear_alert.to_i %>) {
                document.getElementById("'<%= truck.plate %>'gear").style.fill = "	#ff8500";
              }
              else if ((( <%= truck.total_gear_distance %> / <%= @maintenance_red.gear_alert.to_i %> ) * 100) < 10) {
                document.getElementById("'<%= truck.plate %>'gear").style.fill = "#00ff00";
              }
              else {
                document.getElementById("'<%= truck.plate %>'gear").style.fill = "#00bd00";
              }

            //this is for air filter
              if (<%= truck.total_air_distance%> > <%= @maintenance_red.air_alert.to_i %>) {
                document.getElementById("'<%= truck.plate %>'air").style.fill = "red";
              }
              else if (<%= truck.total_air_distance%> > <%= @maintenance_orange.air_alert.to_i %>) {
                document.getElementById("'<%= truck.plate %>'air").style.fill = "	#ff8500";
              }
              else if ((( <%= truck.total_air_distance %> / <%= @maintenance_red.air_alert.to_i %> ) * 100) < 10) {
                document.getElementById("'<%= truck.plate %>'air").style.fill = "#00ff00";
              }
              else {
                document.getElementById("'<%= truck.plate %>'air").style.fill = "#00bd00";
              }

            //this is for coolant
              if (<%= truck.total_coolant_distance%> > <%= @maintenance_red.coolant_alert.to_i %>) {
                document.getElementById("'<%= truck.plate %>'coolant").style.fill = "red";
              }
              else if (<%= truck.total_coolant_distance%> > <%= @maintenance_orange.coolant_alert.to_i %>) {
                document.getElementById("'<%= truck.plate %>'coolant").style.fill = "#ff8500";
              }
              else if ((( <%= truck.total_coolant_distance %> / <%= @maintenance_red.coolant_alert.to_i %> ) * 100) < 10) {
                document.getElementById("'<%= truck.plate %>'coolant").style.fill = "#00ff00";
              }
              else {
                document.getElementById("'<%= truck.plate %>'coolant").style.fill = "#00bd00";
              }

            //this is for blower
              if (<%= truck.bulker %> == false) {
                document.getElementById("'<%= truck.plate %>'blower").style.fill = "none";
              }
              else if (<%= truck.total_blower_distance%> > <%= @maintenance_red.blower_alert.to_i %>) {
                document.getElementById("'<%= truck.plate %>'blower").style.fill = "red";
              }
              else if (<%= truck.total_blower_distance%> > <%= @maintenance_orange.blower_alert.to_i %>) {
                document.getElementById("'<%= truck.plate %>'blower").style.fill = "	#ff8500";
              }
              else if ((( <%= truck.total_blower_distance %> / <%= @maintenance_red.blower_alert.to_i %> ) * 100) < 10) {
                document.getElementById("'<%= truck.plate %>'blower").style.fill = "#00ff00";
              }
              else {
                document.getElementById("'<%= truck.plate %>'blower").style.fill = "#00bd00";
              }

        </script>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="text-center">
  <a href="/trucks/new" class="btn btn-info"  style="width:200px">เพิ่มรถ</a>
</div>
