<p id="notice"><%= notice %></p>

<h1>Listing Blowers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blowers.each do |blower| %>
      <tr>
        <td><%= link_to 'Show', blower %></td>
        <td><%= link_to 'Edit', edit_blower_path(blower) %></td>
        <td><%= link_to 'Destroy', blower, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blower', new_blower_path %>
